<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dota 2 - Forgot Password</title>
    <link rel="stylesheet" href="/front/style.css">
</head>
<body>
<div class="auth-box">
    <h2>Forgot Password</h2>
    <form action="/reset_password" method="post">
        <label>
            <input type="email" name="email" class="auth-input" placeholder="example@gmail.com" required>
        </label>
        <button type="submit" class="auth-button">Reset Password</button>
        <div class="message"></div>
    </form>
    <div class="auth-links">
        <a href="/login">Back to Login</a>
    </div>
</div>
<!--<script src="/front/script.js"></script>-->
</body>
</html>
